<div class="boxListCircle" data-propertiesText="{{font}}/{{fontSize}}/{{colorFont}}/{{lineHeight}}/{{alignment}}">
    <div class="elipseInListCircle"></div>
    <input placeholder="Vazio" type="text">
</div>