<img class="imageFile" src="{{urlFile}}" alt="">
<h2>{{nameFile}}</h2>
<a href="" class="iconSaveFile" download="{{nameFile}}">
    <img src="{{downloadIcon}}" alt="">
</a>
<img src="{{deleteIcon}}" alt="">